<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Diabetic Retinopathy - Insulyser.Inc</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div id="left-part">
    <h2>DRDS by thebalds</h2>
    <ul>
        <li><a href="/">login</a></li>
        <li><a href="/contact">Contact Us</a></li>
    </ul>
</div>

<div id="right-part">
    <div class="container">
        <h2>About Diabetic Retinopathy</h2>
        <p>Diabetic retinopathy is a diabetes complication that affects eyes. It's caused by damage to the blood vessels of the light-sensitive tissue at the back of the eye (retina).</p>
        <p>The primary risk factor for diabetic retinopathy is diabetes. Controlling your blood sugar levels and managing your diabetes effectively can help prevent or slow the progression of diabetic retinopathy.</p>
    </div>
</div>

</body>
</html>
