<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload - Insulyser.Inc</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div id="left-part">
    <h2>DRDS by thebalds</h2>
    <ul>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/about">About Diabetic Retinopathy</a></li>
        <li><a href="/contact">Contact Us</a></li>
    </ul>
</div>

<div id="right-part">
    <div class="container">
        <h2>Uploaded succesfully</h2>
        <p>Predicting.</p>
        <p>Please wait.</p>
    </div>
</div>

</body>
</html>